<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moderato">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false">

        <!-- 스플래시 화면 (런처) -->
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 메인 화면 -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <!-- 감정 입력 화면 -->
        <activity
            android:name=".EmotionInputActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- 감정 조율사 화면 -->
        <activity
            android:name=".EmotionTunerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- 감정 악보집 화면 -->
        <activity
            android:name=".EmotionArchiveActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- 기간별 상세 화면 -->
        <activity
            android:name=".PeriodDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".EmotionArchiveActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EmotionArchiveActivity" />
        </activity>
    </application>

</manifest>